@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}
.root {
  --font-family: "Roboto", serif;
  --titlefont: "IBM Plex Sans", sans-serif;
}
.navbar {
  width: 185vh;
  height: 120px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  font-size: 15px;
  position: fixed;
  z-index: 1000;
}
.logo {
  background-color: red;
  width: 200px;
  height: 120px;
  text-align: center;
  color: white;
  font-size: 30px;
  text-decoration: none;
  display: inline-block;
}
.HUS {
  position: relative;
  top: 2.5rem;
}
.navlists {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px;
  column-gap: 20px;
  list-style-type: none;
  margin-left: 5rem;
  margin-top: 2rem;
}
.Home {
  color: white;
  text-decoration: none;
  font-family: var(--font-family);
  font-size: 15px;
}
.Home:hover {
  color: red;
}
.about {
  color: white;
  text-decoration: none;
  font-family: var(--font-family);
}
.about:hover {
  color: red;
}
.pages {
  color: white;
  text-decoration: none;
  font-family: var(--font-family);
}
.pages:hover {
  color: red;
}
.blog {
  color: white;
  text-decoration: none;
  font-family: var(--font-family);
}
.blog:hover {
  color: red;
}
.contact {
  color: white;
  text-decoration: none;
  font-family: var(--font-family);
}
.contact:hover {
  color: red;
}
.navend {
  display: flex;
  justify-content: flex-end;
  color: white;
  font-size: 15px;
  font-family: var(--font-family);
  margin-top: 2rem;
  margin-left: 10rem;
}
.login {
  color: white;
  text-decoration: none;
}
.call {
  padding-left: 2rem;
}
.submenu1 {
  background-color: white;
  height: 30px;
  padding: 5px 5px;
  color: black;
  font-size: 15px;
  margin-top: 0.5rem;
  margin-right: 1rem;
}
.submenu2 {
  background-color: white;
  height: 30px;
  padding: 5px 5px;
  color: black;
  font-size: 15px;
  margin-top: 0.5rem;
  margin-right: 1rem;
}
